<gazebo>
  <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
    <robot_param>robot_description</robot_param>
    <robot_param_node>robot_state_publisher</robot_param_node>

    <!-- THIS IS THE KEY -->
    <parameters>
      $(find golf_cart_description)/config/ackermann2.yaml
    </parameters>
  </plugin>
</gazebo>
